@tailwind base;
@tailwind components;
@tailwind utilities;

.myContainer {
  @apply container mx-auto lg:py-6 py-2;
}

.heading2 {
  @apply lg:text-4xl text-2xl font-medium;
}

.heading5 {
  @apply lg:text-2xl text-base font-medium lg:leading-6 leading-4;
}

.input {
  @apply bg-gray-100 lg:text-xl lg:px-6 px-3 lg:py-4 py-2 rounded-lg outline-none;
}

.icon {
  @apply text-2xl;
}

.text {
  @apply lg:text-base text-sm;
}

.flexBetween {
  @apply flex items-center justify-between;
}

.flexCenter {
  @apply flex items-center justify-center;
}

.showcaseSkeleton {
  height: 400px;
}

.categoriesSkeleton {
  height: 300px;
}

.trustSkeleton {
  height: 150px;
}

.categoryProductsSkeleton {
  height: 350px;
}

.productSkeleton {
  width: 400px;
}

.mainImgSkeleton {
  width: 100%;
  height: 350px;
}

.newsImgSkeleton {
  width: 100%;
  height: 350px;
}

.otherNewsSkeleton {
  width: 150px;
  height: 300px;
}

@media (max-width: 512px) {
  .showcaseSkeleton {
    height: 150px;
  }

  .categoriesSkeleton {
    height: 150px;
  }

  .trustSkeleton {
    height: 100px;
  }

  .categoryProductsSkeleton {
    height: 220px;
  }

  .productSkeleton {
    height: 10px;
  }

  .mainImgSkeleton {
    height: 150px;
  }

  .newsImgSkeleton {
    height: 150px;
  }
}
